
<nav class="navbar navbar-default" id="navbar">

    <div class="navbar-header">
  
    
       <button style="border: 1px solid black;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span style="color: red; background-color: red;" class="icon-bar"></span>
        <span style="color: red; background-color: red;" class="icon-bar"></span>
        <span style="color: red; background-color: red;" class="icon-bar"></span>
      </button>
    
  <a  href="{$thisdomain}">
      <img class="visible-xs" src="/images/logo.png?"  alt="sim so dep" style="float: left; margin-left:0px; margin-bottom: 10px; z-index: 1; position: absolute;" />
      </a>
    
    </div>
      <a  href="{$thisdomain}">
      <img class="hidden-xs" src="/images/logo.png?"  alt="sim so dep" style="float: left; margin-bottom: 10px; z-index: 1; position: absolute; margin-left: 5px;" />
      </a>
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 
      50px;">
    {$menu} 
      </ul>

    </div>

   
</nav>
